body {
  margin: 5%;
}

/* ===  RECOMMENDATIONS MAIN === */
.recommendations-main {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 95%;
  border: 1px solid black;
  margin: 1%;
  padding: 1%;
}
.recommendations-panels {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
}
.recommendation-highlight {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
  width: 60%;
  padding: 5%;
}
.title-and-button {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.recommendations-scroll {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  text-align: end;
  width: 30%;
  padding: 5%;
}
.indiv-rec-title {
  padding-right: 6%;
}
.rec-and-new {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.map-display {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  border: black 1px solid;
}

/* === DIARY ENTRIES MAIN === */
.entries-main {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 95%;
  border: 1px solid black;
  margin: 1%;
  padding: 1%;
}
.entries-panels {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}
.entry-highlight {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
  padding: 5%;
}
.entries-scroll {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  text-align: end;
  padding: 5%;
}